
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    padding-top: 100px;

}


h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
    font-size: 2.5rem;
    font-weight: 600;
}


.user-info {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    position: relative; 
    border: 2.6px solid black;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
    transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
    

}
.user-info:hover {

    box-shadow: 12px 12px 0px rgba(0, 0, 0, 1);
    transform: translate(-3px, -3px);

}





/* Profil Fotoğrafı Stili */
.profile-pic {
    display: block;
    margin: 20px auto;
    border-radius: 30%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* Kırpma stili */
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);

    border: 3px solid #000000; /* Çerçeve ekleme */
}

/* Bağlantılar */
.profile_picture.a {
    display: block;
    text-align: center;
    margin: 10px 0;
    padding: 12px;
    color: #fff;
    background-color: #FF6666;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s; /* Dönüşüm efektleri */
}

.profile_picture.a:hover {
    background-color: #e55e5e; /* Daha koyu bir renk */
    transform: scale(1.05); /* Hover efekti ile büyüme */
}

/* Form Alanı Stili */
.pic_form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
    border: 2.6px solid black;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.pic_form:hover{
    box-shadow: 12px 12px 0px rgba(0, 0, 0, 1);
    transform: translate(-3px, -3px);
}

/* Form Elemanları Stili */
.pic_form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.pic_form input[type="file"] {
    margin-bottom: 15px;
}

.pic_form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Dönüşüm efektleri */
}

.pic_form input[type="submit"]:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2.6px solid black;
}



