.upper_design {
  transform: translate(0%, -20%);
  margin-bottom: 60px;
}

.pre-blog {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 19px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 4px;
  text-align: center;
  transform: translate(0, 10px);
  position: relative;
  z-index: 20;
}

/* Toggle Switch Stil */
.switch {
  position: absolute;
  top: 23px;
  right: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  transition: 0.4s;
  border-radius: 34px;
  z-index: 1500;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;

}

input:checked+.slider {
  background-color: #FF5B5B;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

/* Renkli Tema için böyle ayarladım */
body.colored-theme {
  background-image: url(images/GreenGradi.jpg);
  /* background-color: #000000; */
  color: #ffffff;
  transition: background-color 0.5s ease, background-image 0.5s ease, color 0.5s ease;

}


.mainText {
  font-size: 180px;
  font-family: "Allison", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -5px;
  rotate: -2deg;
  transform: translate(-23px, 74px);
  color: #FF5B5B;
  z-index: 10;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.colored-theme .mainText {
  color: #ffffff;
  text-shadow: -3px 1px 15px rgba(0, 0, 0, 0.189);

}

.mainText2 {
  color: #000000;
  font-size: 100px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  transform: translate(0, 19px);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 12;
  line-height: 94%;


}

body.colored-theme .mainText2 {
  color: #ffffff;
  text-shadow: -3px 1px 15px rgba(0, 0, 0, 0.189);

}

.RotatingVinyl {
  transform: translate(-180px, -274px);
}


.text3d {
  color: #000000;
  top: 0;
  left: 0;
  transition: top 0.2s ease-in-out, left 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

.text3d:hover {
  color: #FF5B5B;
  -webkit-text-stroke: 2.6px black;
  position: relative;
  /* or absolute, fixed, sticky */
  top: -3px;
  /* moves the element down */
  left: -3px;
  /* moves the element to the right */
  text-shadow: 6px 6px #000000;


}

.wrap {
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .col-sm {
    flex: 1 1 calc(50% - 20px);
  }

  #header {
    flex-direction: column;
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .col-sm {
    flex: 1 1 100%;
  }

  .search {
    width: 100%;
  }
  .pre-blog{
    transform: translate(0px, 30px);
  }
}


.plakPhoto {
  position: absolute;
  left: 50%;
  transform: translate(5%, -56%);
  width: 330px;
  z-index: -10;
}


.plakOrtasi {
  position: absolute;
  left: 50%;
  transform: translate(56%, -62%);
  width: 170px;

  z-index: -5;
  animation: mymove 10s linear infinite;
}

.plakKolu {
  position: absolute;
  left: 50%;
  transform: translate(163%, -56%);
  width: 130px;

  z-index: -1;
  transform-origin: top center;
  animation: swing 2s infinite ease-in-out;

}

@keyframes swing {
  0% {
    transform: translate(163%, -56%) rotate(0deg);
  }

  25% {
    transform: translate(163%, -56%) rotate(0.5deg);
  }

  50% {
    transform: translate(163%, -56%) rotate(0deg);
  }

  75% {
    transform: translate(163%, -56%) rotate(0.9deg);
  }

  100% {
    transform: translate(163%, -56%) rotate(0deg);
  }
}

@keyframes mymove {
  0% {
    transform: translate(56%, -62%) rotate(0deg);
  }

  100% {
    transform: translate(56%, -62%) rotate(360deg);
  }

}

.nota {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 50px;
  height: 50px;
  background: url('music-note.png') no-repeat center center;
  background-size: contain;
  animation: floatNotes 3s ease-out infinite;
  opacity: 1;
}

@keyframes floatNotes {
  0% {
    transform: translate(230px, -90px) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(360px, -300px) scale(0.5);
    opacity: 0;
  }
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }

}

.expandButton {
  text-align: center;
  margin-top: 20px;

}

.circleButton {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 21px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0px 0px 0 #000000;

}

.circleButton2 {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 21px;
  cursor: pointer;
  z-index: 200px;
  transform: translate(0, -160px);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

}


.circleButton:hover {
  background-color: #FF5B5B;
  color: #ffffff;
  border: 2.6px solid black;
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 #000000;
}

.circleButton2:hover {
  background-color: #FF5B5B;
  color: #ffffff;
  border: 2.6px solid rgb(255, 255, 255);
  transform: translate(-3px, -163px);
  box-shadow: 6px 6px 0 #ffffff;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bigRound {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 19px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 4px;
  text-align: center;
  height: 1000px;
  width: 1000px;
  background-color: #000000;
  mix-blend-mode: multiply;
  border-radius: 50%;
  display: flexbox;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

}

.circleText {
  font-size: 19px;
  padding: 200px;
}


.GoTopButton {
  position: fixed;
  right: 50px;
  bottom: 80px;
  z-index: 1000;

}

.circleButton3 {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0px 0px 0 #000000;
}

.circleButton3:hover {
  background-color: #FF5B5B;
  color: #ffffff;
  border: 2.6px solid black;
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 #000000;
}

body {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
  transition: background-color 0.5s ease, background-image 0.5s ease, color 0.5s ease;
  padding-top: 100px;
}


html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;

}

a {
  text-decoration: none;
  color: #FF5B5B;
}

a:hover {
  text-decoration: none;
  color: #ff7070;
}


.bodyText {
  text-align: center;
  font-size: 24px;
  padding: 200px;

}

footer {
  color: black;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 70px;
  padding-bottom: 20px;
  text-align: center;
}

.copyRights {
  text-align: center;
}



#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover {
  color: #FF5B5B;
}

#navbar li a:hover,
#navbar li a.active {
  color: #FF5B5B;
}

.logo {
  width: 200px;
}

.cartIcon {

  transition: 0.3s ease;

}

.cartIcon:hover {
  filter: invert(24%) sepia(36%) saturate(4167%) hue-rotate(332deg) brightness(97%) contrast(93%);
}

#productCarousel {
  position: relative;
  margin: 70px auto;
  border-radius: 8px;
  overflow: hidden;
  max-width: 50%;
  border: 2.6px solid black;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
  transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
}

#productCarousel:hover {
  box-shadow: 15px 15px 0px rgba(0, 0, 0, 1);
  transform: translate(-3px, -3px);

}

.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;

}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 100%;
  border-radius: 0%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: background-color 0.3s;
  opacity: 100%;
  border: 0px solid black;

}

.carousel-control-prev:active,
.carousel-control-next:active {
  opacity: 100%;
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
  z-index: 500;
  filter: invert(100%);
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  filter: invert(0%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgb(0, 0, 0);
  opacity: 100%;
  border: 2.6px solid rgb(255, 255, 255);
  border-radius: 6px 6px 6px 6px;
}

.newProdTitle {
  text-align: center;
  font-size: 19px;
  color: #ffffff;
  margin: 5px 0;
  background-color: #000000
}



.carousel-indicators {
  bottom: 10px;
  opacity: 100%;

}

.carousel-indicators li {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  opacity: 100%;

}

.carousel-indicators .active {
  background-color: rgb(0, 0, 0);
  opacity: 100%;

}

.carousel-caption {
  background-color: #00000094;
}


/* Responsive Medya için olan kısım */
@media (max-width: 690px) {
  #productCarousel {
    margin: 10px;
  }

  .newProdTitle {
    font-size: 14px;
  }

  .mainText {
    line-height: 150%;
    font-size: 150px;
  }

  .mainText2 {
    line-height: 80%;
    font-size: 80px;
  }


  .bigRound {
    width: 600px;
    height: 600px;
  }

  .circleText {
    text-align: right;
    font-size: 14px;
    padding-top: 90px;
    padding-right: 200px;
    padding-left: 50px;

  }

  .wrap {
    width: 200px;
  }

  .expandButton {
    margin-top: 15px;
  }


  .circleButton {
    width: 40px;
    height: 40px;
  }

  .circleButton2 {
    width: 40px;
    height: 40px;
    transform: translate(0, -120px);
  }

  .circleButton3 {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .GoTopButton {
    right: 40px;
    bottom: 60px;
  }

  #header {
    padding: 10px 40px;
  }

  .logo {
    width: 150px;
  }

  #navbar li a {
    font-size: 14px;
    padding: 0 10px;
  }

  #productCarousel {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }

  .carousel-item img {
    height: 300px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 30px;
  }

  .newProdTitle {
    font-size: 16px;
  }

  .circleButton2 {
    transform: translate(0, -100px);
  }

  .bodyText {
    font-size: 20px;
    padding: 100px;
  }

  footer {
    padding: 40px 10px;
    bottom: 0;
  }
}