.pre-blog {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 19px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 4px;
  text-align: center;
}


.mainText {
  font-size: 180px;
  font-family: "Allison", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -5px;
  rotate: -2deg;
  transform: translate(0, 74px);
  color: #FF6666;
  z-index: 10;
  position: relative;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.mainText2 {
  font-size: 100px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  transform: translate(9px,0);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.RotatingVinyl{
  transform: translate(-180px,-274px);
}

.search {
  width: 300px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: calc(100% - 40px);
  /* Arama düğmesine yer bırakmak için genişliği ayarlıyoruz */
  border: 3px solid #202529;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #202529;
}

.searchTerm:focus {
  color: #202529;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #202529;
  background: #202529;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s ease;

}

.searchButton:hover {

  background: #ce3043;

}

.gradient-text{
  background: linear-gradient(to right, rgb(198, 47, 47),rgb(236, 109, 109),rgb(156, 36, 36));
  background-clip: text;
  -webkit-background-clip:text;
  color:rgba(0,0,0,1);
  transition: color .2s ease-in-out;
  text-transform:uppercase;
}
.gradient-text:hover{
  color:rgba(0,0,0,0);
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 300px;
  /* Sabit genişlik ayarlandı */
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .col-sm {
      flex: 1 1 calc(50% - 20px);
  }

  #header {
      flex-direction: column;
      padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .col-sm {
      flex: 1 1 100%;
  }

  .search {
      width: 100%;
  }
}


.plakPhoto {
  position: absolute;
  left: 50%;
  transform: translate(5%, -56%);
  width: 330px;

  z-index: -10;

}


.plakOrtasi {
  position: absolute;
  left: 50%;
  transform: translate(56%, -62%);
  /* translate işlemi burada kalacak */
  width: 170px;
  z-index: -5;
  animation: mymove 10s linear infinite;
}

@keyframes mymove {
  0% {
    transform: translate(56%, -62%) rotate(0deg);
  }

  /* translate'i koruyarak rotate işlemini ekliyoruz */
  100% {
    transform: translate(56%, -62%) rotate(360deg);
  }

  /* tam dönüş yapacak */
}

.nota {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 50px;
  height: 50px;
  background: url('music-note.png') no-repeat center center;
  background-size: contain;
  animation: floatNotes 3s ease-out infinite;
  opacity: 1;
}

@keyframes floatNotes {
  0% {
    transform: translate(230px, -90px) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(360px, -300px) scale(0.5);
    /* Sağ üst köşeye doğru gidecek ve küçülecek */
    opacity: 0;
    /* Giderek yok olacak */
  }
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.expandButton {
  text-align: center; /* Butonu ortalamak için */
  margin-top: 20px;
}

.circleButton {
  background-color: #202529;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 21px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.circleButton2 {
  background-color: #f9f9f9;
  color: #202529;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 21px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}


.circleButton:hover {
  transform: scale(1.1); /* Hover efektle buton büyüyecek */
}

.circleButton2:hover {
  transform: scale(1.1); /* Hover efektle buton büyüyecek */
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bigRound {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 19px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 4px;
  text-align: center;
  height: 1000px;
  width: 1000px;
  background-color:#202529;
  border-radius: 50%;
  display: flexbox;
  justify-content: center;
  /* Yatay olarak ortalar */
  align-items: center;
  /* Dikey olarak ortalar */
  color: white;
  /* Yazı rengini belirledik */
  text-align: center;
  /* Yazıyı ortaladık */
}

.circleText {
  font-size: 19px;
  /* Yazı boyutu */
  padding: 200px;
  /* Yazının etrafında biraz boşluk bıraktık */
}


.GoTopButton {
  position: fixed;  /* Sabit pozisyon */
  right: 50px;      /* Sağdan 20px uzaklıkta */
  bottom: 80px;     /* Alttan 20px uzaklıkta */
  z-index: 1000;    /* Üstte kalmasını sağlamak için z-index */
}

.circleButton3 {
  background-color: #202529;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.circleButton3:hover {
  transform: scale(1.1);
}

body {
  background-color: #f9f9f9;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;

}

a {
  text-decoration: none;
  color: #ce3043;
}

a:hover {
  text-decoration: none;
  color: #ff7878;
}


.bodyText {
  text-align: center;
  font-size: 24px;
  padding: 200px;

}

footer {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 70px;
  padding-bottom: 20px;
  text-align: center;
}

.copyRights {
  text-align: center;
}



#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #f8f8f8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover {
  color: #ce3043;
}

#navbar li a:hover,
#navbar li a.active {
  color: #ce3043;
}

.logo {
  width: 200px;
}

.cartIcon {

  width: 25px;
  transition: 0.3s ease;

}

.cartIcon:hover {
  filter: invert(24%) sepia(36%) saturate(4167%) hue-rotate(332deg) brightness(97%) contrast(93%);
}

